
/* CUERPO */

		#entrada{
			width: 1200px;
			min-height: 900px;
			margin-top: 5px;
			height: auto;
			height: auto;
			overflow: auto;
		}
		
		#entrada>div{
			border:1px solid black;
			float: left;
			width: 30.5%;
			height: 250px;
			margin: 13px;
			position: relative;
			display: inline;
		}

		
		#pie{
			width: 1200px;
			height: 150px;	
			margin: 0px auto;
			background: #5f5f5f;
		}

		/* CATEGORIAS */

		#categorias {
			width: 1200px;
			height: 50px;
			right: 0px;
			left: 0px;
			position: relative;
		}

		#categorias>ul{
			margin: 0px;
			padding: 0px;
		}

		#categorias>ul>a>li{
			float: left;
			width: 20%;
			background: #5f5f5f;
			margin: 0px;
			padding: 15px 0px;
			text-align: center;
			list-style: none;
			color:white;
			font-size: 20px;
			font-family: Arial;
			transition: background 0.3s;
		}

		#categorias>ul>a>li:hover{
			background: black;
		}

		#categorias>ul>a>li:active{
			background: green;
		}

/* CABEZA */
		#cabeza{
			width: 1200px;
			height: 120px;
			background: #5f5f5f;
		}	

		#cabeza>div{
			width: 50%;
			height: 100%;
			margin:0px;
			padding: 0px;
			float: left;
		}


		#cabeza #logo>*{
			float: left;
			margin: 5px;
		}
		#cabeza>div>img{
			width: 100px;
			height: 100px;
			cursor: pointer;
		}
		#cabeza>div>h1{
			font-family: Arial;
			top: 25px;
			position: relative;
			color:white;
		}

		#cabeza #login #user>form{
			width: 100%;
			font:normal 12px Arial;
			color:white;
			padding: 25px 0px;
		}
		#cabeza #login #user form span{
			display: inline-block;
			width: 70px;
		}

		#cabeza #login form input{
			display: inline-block;
			margin-bottom: 5px;
			width: 150px;
		}

		#cabeza #login #user {
			width: 50%;
			height:100%;
			float: right;
		}

		#cabeza #login #user #avatar{
			width: 50px;
			height: 50px;
			margin: 6% 0% 0% 0%;
		}

		a{
			text-decoration: none;
			font-family: Arial;
		}

		a:visited{
			color:#2B1F73;
		}