/* TODOS */
body{
background-color:#e7a61a;
}
	*{
		font-family: Arial;
	}

	a{
		text-decoration: none;
		font-family: Arial;
                color:#e7a61a ;

	}

	a:visited{
		color:#e7a61a
	}


form>*{
border-radius:6px;
}
/* CUERPO */

		#entrada{
			width: 1200px;
			min-height: 500px;
			margin: 5px auto;
			overflow-y: hidden;
                        background:#e7a61a;

		}
#entrada #perfil{
color:rgb(46, 74, 117);
font-family:Arial;
}
#entrada table th{
background:rgb(46, 74, 117);
color: white;
}
#entrada table tr a{color:rgb(46, 74, 117);}
	
		#entrada>a>div{
			border:1px solid rgb(46, 74, 117);
                        border-radius:4px;
			background: white;
			float: left;
			width: 30.5%;
			height: 300px;
			margin: 15px;
			position: relative;
			display: inline;
			box-shadow: 5px 5px 5px -2px rgb(46, 74, 117);
			transition: transform 0.3s,background 0.3s;
                        color:rgb(46, 74, 117);
		}

		#entrada>a>div:hover{
			transform:scale(1.02);
			background: rgb(46, 74, 117);
                        color:white;
		}
		
		#pie{
			width: 1200px;
			height: 150px;
                        margin:15px auto;
                        border:1px solid #e7a61a ;
			background: rgb(46, 74, 117);
			box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.27);

		}

		/* CATEGORIAS */

		#categorias {
			width: 1200px;
			height: 50px;
			right: 0px;
			left: 0px;
                        margin:15px auto;
			position: relative;
		}

		#categorias>ul{
			margin: 0px;
                        height:55px;
			padding: 0px;
                        box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.27);

		}

		#categorias>ul>a>li{
			float: left;
			width: 19.83%;
			background: rgb(46, 74, 117);
                        border:1px solid #e7a61a ;
			margin: 0px;
			padding: 15px 0px;
			text-align: center;
			list-style: none;
			color:white;
			font-size: 20px;
			font-family: Arial;
			transition: background 0.3s;

		}

		#categorias>ul>a>li:hover{
			background: #e7a61a;
                        border:1px solid rgb(46, 74, 117);
                        color: rgb(46, 74, 117);
		}


/* CABEZA */
		#cabeza{
			width: 1200px;
			height: 120px;
                        margin:15px auto;
			background: rgb(46, 74, 117);
                        border:1px solid #e7a61a ;
			box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.27);

		}	

		#cabeza>div{
			width: 50%;
			height: 100%;
			margin:0px;
			padding: 0px;
			float: left;
		}


		#cabeza #logo>*{
			float: left;
			margin: 5px;
		}
		#cabeza>div>img{
			width: 100px;
			height: 100px;
			cursor: pointer;
		}
		#cabeza>div>h1{
			font-family: Arial;
			top: 25px;
			position: relative;
			color:white;
		}

		#cabeza #login #user>form{
			width: 100%;
			font:normal 12px Arial;
			color:white;
			padding: 25px 0px;
		}
		#cabeza #login #user form span{
			display: inline-block;
			width: 70px;
		}

		#cabeza #login form input{
			display: inline-block;
			margin-bottom: 5px;
			width: 150px;
		}

		#cabeza #login #user {
			width: 50%;
			height:100%;
			float: right;
		}

		#cabeza #login #user #avatar{
			width: 50px;
			height: 50px;
			border-radius: 100%;
			margin: 6% 0% 0% 0%;
		}

/* ENTRADAS */

		.sintaxis{
			width:70%;
			height:50%; 
			font-family: Arial;
			text-align:justify; 
			margin:0px auto;
			margin-top: 0px;
			font-size:15px;
		}

		.imgentrada{
			width:70%;
			height:60%; 
			margin:25px 50px;
		}

/* NUEVA ENTRADA PHP */

#cuerpo #txtbox, #text {
		width: 96.2%;
		height:440px;
		padding:2%;
		overflow:auto;
		background:#EFEFEF;
		border:0px none;
		margin:5px 0px;	
	}
	
	#cuerpo #text {
		display:none;
	}

	#cuerpo #editor button, input, select {
		background:#EFEFEF;
		border:#000000 none solid;
		margin: 1px;
	}

	#cuerpo div{
		float: left;
	}

	#cuerpo #editor {
		width: 80%;
		height: 100%;
		margin-top: 10px;
	}

	#cuerpo #enviar {
		background: rgb(46, 74, 117);
		width: 20%;
		height: 500px;
		margin-top: 133px;
		color:white;
border-radius:0px 5px 5px 0px;

	}

	#cuerpo #titulo{
		width: 800px;
		font: bold 30px Arial;
		margin:0px;
		position: relative;
		bottom: 0px;
	}

	#cuerpo #menu {
		background: rgb(46, 74, 117);
		width: 100%;
		position: relative;
		top:5px;
		left: 0px;
border-radius:5px 0px 0px 0px;
	}